<nav class="bg-black fixed w-full z-20 top-0 start-0 border-b-2 border-red-700 h-10dvw">
        <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
            <a href="" class="flex items-center space-x-3 rtl:space-x-reverse">
                <img src="./img/logo_2.png" class="h-7" alt="Logo"/> <!--add logo from oasis us spie-->
                <span class="self-center text-xl text-heading font-semibold whitespace-nowrap text-white">OASIS UG SPIE Student Chapter</span>
            </a>
            <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-body rounded-base md:hidden hover:bg-neutral-secondary-soft hover:text-heading focus:outline-none focus:ring-2 focus:ring-neutral-tertiary" aria-controls="navbar-default" aria-expanded="false">
                <span class="sr-only">Abrir opciones</span>
                <svg class="w-6 h-6" aria-hidden="true" xmlns="" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="white" stroke-linecap="round" stroke-width="2" d="M5 7h14M5 12h14M5 17h14"/></svg>
            <!--Lines from flowbite, review later-->
            </button>
            <div class="hidden w-full md:block md:w-auto" id="navbar-default">
            <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-default rounded-base bg-neutral-secondary-soft md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-neutral-primary">
                <li>
                <a href="/Inicio" class="text-white block py-2 px-3 md:bg-transparent md:text-white md:p-0" aria-current="page" aria-current="page" id="inicio">Inicio</a>
                </li>
                <li>
                <a href="/About" class="text-white block py-2 px-3 md:bg-transparent md:text-white md:p-0" id="about">Acerca de nosotros</a>
                </li>
                <li>
                <a href="/Activites" class="text-white block py-2 px-3 md:bg-transparent md:text-white md:p-0" id="Activites">Actividades</a>
                </li>
                <li>
                <a href="/Members" class="text-white block py-2 px-3 md:bg-transparent md:text-white md:p-0" id="Members">Miembros</a>
                </li>
                <li>
                <a href="/Contact" class="text-white block py-2 px-3 md:bg-transparent md:text-white md:p-0" id="Contact">Contacto</a>
                </li>
            </ul>
            </div>
        </div>
        </nav>